<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SuperMarket.Properties.Settings.SuperMarketConnectionString"
            connectionString="Data Source=ywh-pc\sqlserver;Initial Catalog=SuperMarket;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>